
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.2rem;
}.asur-LPq {
  background-color: #000000;
  box-sizing: border-box;
  padding: 0.1rem 0rem 1.927rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .auto-group-fnud-rNB {
    margin: 0rem 1.1rem 1.9rem 0rem;
    width: calc(100% - 1.1rem);
    height: 85.3rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-r6qd-weX {
      flex-shrink: 0;
      margin-right: 0.9rem;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:48ec301d9cdd26d75e660fb07f9c060a2dfcd844');

      .detail-from-the-poster-for-asur-season-2-757-2-HyH {
        vertical-align: top;
        width: 134rem;
        height: 85.3rem;
        object-fit: cover;
      }
    }
    .auto-group-ytfm-PmR {
      flex-shrink: 0;
      margin-top: 2.4rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .icon-play-circle-7hR {
        flex-shrink: 0;
        margin: 0rem 0.2rem 10.6rem 0rem;
        width: 8rem;
        height: 8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-RTD {
        height: 8.01rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.2rem 9.69rem 0rem;
        width: 8rem;
      }
      .icon-data-transfer-download-8Md {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 10.7rem;
        width: 8rem;
        height: 8rem;
      }
      .icon-share-boxed-3zP {
        width: 7rem;
        height: 7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-h9hh-PYT {
    margin-bottom: 2rem;
    width: 40rem;
    height: 3.9rem;
    position: relative;
    flex-shrink: 0;

    .hindi-thriller-u-a-16-7zF {
      position: absolute;
      top: 0;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 40rem;
      height: 3.9rem;
      left: 0;
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
    }
    .ellipse-1-E3H {
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 0.4rem;
      top: 1.5rem;
      background-color: #d9d9d9;
    }
    .ellipse-3-Z5Z {
      left: 12.8rem;
      top: 1.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
    }
    .ellipse-4-UTR {
      height: 1rem;
      position: absolute;
      left: 28.1rem;
      top: 1.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
    }
  }
  .auto-group-cghd-bH9 {
    flex-shrink: 0;
    margin: 0rem 2.1rem 0rem 2.4rem;
    width: calc(100% - 4.5rem);
    display: flex;
    align-items: center;

    .season-1-vKR {
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      margin: 0rem 119.3rem 0.173rem 0rem;
      display: flex;
      line-height: 1.2125;
    }
    .icon-chevron-left-oe7 {
      vertical-align: top;
      flex-shrink: 0;
      width: 5rem;
      height: 7.2727rem;
      cursor: pointer;
      object-fit: contain;
    }
  }
}
