
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69.9rem;
}.download-mirzapur-u2P {
  background-color: rgba(0, 0, 0, 0.75);
  position: relative;
  flex-direction: column;
  padding: 3.25rem 1.4rem 0rem 1.7rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  opacity: 0.75;
  box-sizing: border-box;

  .download-options-o7m {
    display: flex;
    font-size: 4rem;
    font-weight: 800;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    margin: 0rem 0rem 1.85rem 0.4rem;
    white-space: nowrap;
    flex-shrink: 0;
    line-height: 1.2125;
  }
  .auto-group-arxu-W2B {
    margin: 0rem 47.3rem 1.25rem 0rem;
    width: calc(100% - 47.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-aj2o-Ruq {
      margin: 0.1rem 1.5rem 0rem 0rem;
      width: 5rem;
      height: 12.25rem;
      position: relative;
      flex-shrink: 0;

      .pngwing-1-khD {
        width: 5rem;
        height: 4.9661rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .pngwing-2-gas {
        position: absolute;
        left: 0;
        top: 6.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 5rem;
        height: 4.9661rem;
      }
      .item--bSw {
        height: 11.7rem;
        left: 0.9rem;
        font-size: 9.6rem;
        font-family: Inter, 'Source Sans Pro';
        width: 3rem;
        top: 0.55rem;
        display: flex;
        font-weight: 800;
        line-height: 1.2125;
        color: #00caf7;
        white-space: nowrap;
        position: absolute;
      }
    }
    .auto-group-bsuh-V2X {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;

      .k-duR {
        margin: 0rem 0rem 1.7rem 0.1rem;
        font-weight: 800;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
        font-size: 4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .p-xRu {
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
      }
    }
  }
  .auto-group-rn15-6o1 {
    margin: 0rem 49.9rem 1.334rem 0rem;
    width: calc(100% - 49.9rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .pngwing-3-dY3 {
      margin: 0.1rem 1.5rem 0rem 0rem;
      width: 5rem;
      height: 4.9661rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .p-AH5 {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
  .auto-group-zjk7-6wR {
    flex-shrink: 0;
    margin: 0rem 49.4rem 4.384rem 0rem;
    width: calc(100% - 49.4rem);
    display: flex;
    align-items: flex-start;

    .pngwing-4-q8K {
      height: 4.9661rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.5rem 1.5rem 0rem 0rem;
      width: 5rem;
    }
    .p-jzP {
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-a3bu-sqh {
    margin-bottom: 0.7rem;
    width: 31.6rem;
    height: 11.7rem;
    position: relative;
    flex-shrink: 0;

    .audio-language-ojM {
      width: 31.2rem;
      top: 0.2rem;
      font-size: 4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 4.9rem;
      position: absolute;
      left: 0.4rem;
      display: flex;
      font-weight: 800;
      color: #ffffff;
    }
    .pngwing-5-6TZ {
      object-fit: cover;
      vertical-align: top;
      width: 5rem;
      height: 4.9661rem;
      position: absolute;
      left: 0;
      top: 6.15rem;
    }
    .hindi-2s1 {
      white-space: nowrap;
      width: 10.4rem;
      height: 4.9rem;
      position: absolute;
      top: 6.05rem;
      font-size: 4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      left: 6.5rem;
      display: flex;
      font-weight: 800;
      color: #ffffff;
    }
    .item--M8b {
      left: 0.9rem;
      top: 0;
      display: flex;
      font-size: 9.6rem;
      font-weight: 800;
      line-height: 1.2125;
      width: 3rem;
      height: 11.7rem;
      position: absolute;
      color: #00caf7;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-nmno-4Yo {
    margin: 0rem 45.6rem 0.334rem 0rem;
    width: calc(100% - 45.6rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .pngwing-6-Cf1 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.25rem 1.5rem 0rem 0rem;
      width: 5rem;
      height: 4.9661rem;
    }
    .english-8Yf {
      display: flex;
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .abf6db6fc1117b60b2753-1-Gum {
    vertical-align: top;
    flex-shrink: 0;
    margin-left: 36.8rem;
    width: 30rem;
    height: 13.3rem;
    cursor: pointer;
    object-fit: cover;
  }
}
