
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.2rem;
}.home-z79 {
  backdrop-filter: blur(0.2rem);
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.1rem 0rem 7.7rem 0rem;

  .auto-group-yt7z-gEs {
    margin: 0rem 2.7rem 6.55rem 0rem;
    width: calc(100% - 2.7rem);
    height: 20rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .d8c981158d040d782fd8a326c85357d-2-Avj {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 20rem;
      height: 20rem;
      cursor: pointer;
    }
    .auto-group-vgdu-tbq {
      box-sizing: border-box;
      padding: 5.2rem 0rem 5.66rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-tyhu-R5y {
        margin-right: 8.8rem;
        width: 106.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-4-m9q {
          border-radius: 3.5rem;
          width: 106.4rem;
          height: 8.4rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #d9d9d9;
        }
        .search-VLj {
          display: flex;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          height: 3.9rem;
          position: absolute;
          left: 9.4rem;
          top: 2.2rem;
          white-space: nowrap;
          width: 11rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .my-project-1-1-BzF {
          left: 1.4rem;
          top: 0.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 8rem;
          height: 8.64rem;
          position: absolute;
        }
      }
      .icon-menu-ufM {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 0.4056rem;
        width: 7.5rem;
        height: 6.5344rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
  }
  .latest-release-1iP {
    display: flex;
    font-weight: 600;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 4.85rem 4.8rem;
    font-size: 3.2rem;
    line-height: 1.2125;
  }
  .auto-group-givu-KDH {
    height: 21rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 8.6rem 8.55rem 4.1rem;
    width: calc(100% - 12.7rem);

    .asur-2-review-1-djm {
      margin-right: 5rem;
      width: 40rem;
      height: 21rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .auto-group-opj3-m5H {
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:d725076d5a0a8e2218c89b50a25bf30ee6e87f8a');
      border-radius: 1rem;
      flex-shrink: 0;
      margin-right: 6.5rem;
      height: 100%;
      background-size: 100% 100%;

      .mv5bndq4mte5yzitmmy2os00ngviltlkyjctzwvhytdhzwy4n2uyxkeyxkfqcgdeqxvymtezmti1mjk3-2-hzX {
        width: 40rem;
        height: 21rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
    }
    .auto-group-zmom-Nqm {
      position: relative;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:cefc4324dba961fb0db05ec69c57b3a2a16d7fdd');
      flex-shrink: 0;
      height: 100%;
      background-size: 100% 100%;
      background-position: center;
      border-radius: 1rem;
      width: 40rem;

      .citadel-jAX {
        display: flex;
        font-size: 3.2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        white-space: nowrap;
        width: 11.4rem;
        height: 3.9rem;
        position: absolute;
        left: 0.8rem;
        top: 15.2rem;
        font-weight: 800;
      }
      .hindi-thriller-u-a-16-qDZ {
        left: 0.8rem;
        top: 19.1rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 800;
        color: #ffffff;
        white-space: nowrap;
        width: 14.8rem;
        height: 1.7rem;
        position: absolute;
        display: flex;
        font-size: 1.4rem;
      }
      .hd-wallpaper-citadel-2023-poster-citadel-tv-shows-amazon-priyanka-chopra-richard-madden-2-Y7y {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        width: 40rem;
        height: 21rem;
      }
    }
  }
  .recently-watched-zkf {
    line-height: 1.2125;
    white-space: nowrap;
    margin: 0rem 0rem 4.85rem 4.1rem;
    display: flex;
    font-weight: 600;
    flex-shrink: 0;
    font-size: 3.2rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-cqu3-WU7 {
    margin: 0rem 8.6rem 0rem 4.1rem;
    width: calc(100% - 12.7rem);
    height: 21rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-uvkp-2xF {
      margin-right: 5rem;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:01f0fe2eb5852f7fee483f7f3076de4996253af2');
      border-radius: 1rem;
      flex-shrink: 0;
      width: 40rem;
      height: 100%;
      position: relative;
      background-repeat: no-repeat;

      .ib-71-aTy {
        white-space: nowrap;
        height: 3.9rem;
        position: absolute;
        left: 0;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        width: 7.3rem;
        top: 14.7rem;
        display: flex;
        font-size: 3.2rem;
      }
      .hindi-spy-thriller-u-a-16-tzT {
        height: 1.7rem;
        top: 18.9rem;
        font-weight: 800;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 17.7rem;
        position: absolute;
        left: 0;
        display: flex;
        font-size: 1.4rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .ib71-feature-2-1JP {
        border-radius: 1rem;
        width: 40rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-yfxs-Wkw {
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:8234fb1dc6f0a9161c097aeea98535b5ca89b640');
      border-radius: 1rem;
      flex-shrink: 0;
      margin-right: 6.5rem;

      .anil-kapoor-aditya-roy-kapur-feature-on-book-cover-of-john-le-carres-the-night-manager-01-2-g9d {
        width: 40rem;
        height: 21rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
    }
    .auto-group-1scw-Lzs {
      flex-shrink: 0;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:f4c63d1a9bcf66f0e6e0aaa27364a506bae3a1a9');
      border-radius: 1rem;

      .desktop-wallpaper-anupamaa-written-update-11-nov-2020-bapuji-opens-eyes-after-operation-2-6z3 {
        width: 40rem;
        height: 21rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
    }
  }
}
