
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.2rem;
}.ib71-SZ5 {
  display: flex;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  row-gap: 2rem;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 1.9273rem;
  position: relative;
  flex-direction: column;

  .auto-group-tzmy-MAF {
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 1.1rem;
    width: calc(100% - 1.1rem);
    height: 85.3rem;
    display: flex;

    .auto-group-lu8f-VXM {
      margin-right: 1rem;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:736024432b10ccbe919aace13e9e918e72cb4664');
      flex-shrink: 0;

      .mv5byzrkogu2ntutmtc3ms00mjhklwjkndctmjbjmza1y2e2zmyyxkeyxkfqcgdeqxvymte0mzqwmjgz-2-SxP {
        width: 134rem;
        height: 85.3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-wd19-LXy {
      margin-top: 2.5rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-play-circle-V9y {
        width: 8rem;
        height: 8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.2rem 10.6rem 0rem;
      }
      .icon-reload-bio {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.2rem 9.69rem 0rem;
        width: 8rem;
        height: 8.01rem;
      }
      .icon-data-transfer-download-7x3 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 10.7rem;
        width: 8rem;
        height: 8rem;
        cursor: pointer;
      }
      .icon-share-boxed-SUX {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 7rem;
        height: 7rem;
      }
    }
  }
  .auto-group-phfu-yjM {
    position: relative;
    flex-shrink: 0;
    margin-right: 109.1rem;
    width: 35.1rem;
    height: 3.9rem;

    .hindi-spy-u-a-16-K2X {
      font-size: 3.2rem;
      line-height: 1.2125;
      white-space: nowrap;
      width: 35.1rem;
      left: 0;
      top: 0;
      display: flex;
      font-weight: 800;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      height: 3.9rem;
      position: absolute;
    }
    .ellipse-1-DNo {
      position: absolute;
      left: 0.4rem;
      top: 1.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
    .ellipse-2-k7q {
      position: absolute;
      left: 23rem;
      top: 1.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
    .frame-1-eyu {
      top: 1.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 12.7rem;
    }
  }
  .icon-chevron-left-yWP {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 2.1rem;
    width: 5rem;
    height: 7.2727rem;
    cursor: pointer;
  }
}
