
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.index-Lxf {
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8399999738);
  padding: 31.2rem 61.5rem 36.25rem 61.5rem;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;

  .d8c981158d040d782fd8a326c85357d-1-VDH {
    margin: 0rem 1rem 7.15rem 0rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .awiee-92w {
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    font-size: 6.4rem;
    font-weight: 800;
    line-height: 1.2125;
    color: #d8d8d8;
    font-family: Inter, 'Source Sans Pro';
  }
}
