
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.2rem;
}.mirzapur-moD {
  flex-direction: column;
  padding-bottom: 1.9273rem;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #000000;
  box-sizing: border-box;
  overflow: hidden;
  row-gap: 2rem;

  .auto-group-yyj9-tsq {
    margin-right: 1.1rem;
    width: calc(100% - 1.1rem);
    height: 85.3rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-54bh-bnF {
      margin-right: 0.9rem;
      width: 134rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .asur-iby {
        top: 73.7rem;
        font-size: 6.4rem;
        line-height: 1.2125;
        color: #ffffff;
        width: 15.3rem;
        height: 7.8rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 3.4rem;
      }
      .desktop-wallpaper-mirzapur-season-2-mirzapur-2-1-bQs {
        object-fit: cover;
        vertical-align: top;
        width: 134rem;
        height: 85.3rem;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    .auto-group-mqwt-78K {
      margin-top: 2.5rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-play-circle-SwH {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.2rem 10.6rem 0rem;
        width: 8rem;
        height: 8rem;
        object-fit: contain;
      }
      .vector-yAX {
        margin: 0rem 0.2rem 9.69rem 0rem;
        width: 8rem;
        height: 8.01rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-data-transfer-download-Vef {
        margin-bottom: 10.7rem;
        width: 8rem;
        height: 8rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-share-boxed-pgw {
        width: 7rem;
        height: 7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-nsuq-Mwm {
    width: 38rem;
    height: 3.9rem;
    position: relative;
    flex-shrink: 0;

    .hindi-crime-u-a-16-Jc7 {
      height: 3.9rem;
      position: absolute;
      width: 38rem;
      top: 0;
      display: flex;
      font-size: 3.2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      left: 0;
      white-space: nowrap;
    }
    .ellipse-1-csh {
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 0.4rem;
      top: 1.5rem;
    }
    .ellipse-3-wf5 {
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 12.8rem;
      top: 1.5rem;
    }
    .ellipse-4-5FV {
      position: absolute;
      left: 26.2rem;
      top: 1.5rem;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
  .auto-group-uoov-Cqu {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.1rem 0rem 2.4rem;
    width: calc(100% - 4.5rem);
    display: flex;

    .season-1-Kfd {
      white-space: nowrap;
      display: flex;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      margin: 0rem 4.8rem 0.173rem 0rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .season-2-N87 {
      flex-shrink: 0;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      white-space: nowrap;
      margin: 0rem 98.6rem 0.173rem 0rem;
      display: flex;
      font-size: 3.2rem;
    }
    .icon-chevron-left-S7y {
      width: 5rem;
      height: 7.2727rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
