
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69.9rem;
}.download-rana-naidu-zhV {
  opacity: 0.75;
  box-sizing: border-box;
  padding: 3.25rem 1.4rem 0rem 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.download-rana-naidu-zhV .download-options-uJf {
  margin: 0rem 0rem 1.85rem 0.4rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o {
  margin: 0rem 47.3rem 1.25rem 0rem;
  width: calc(100% - 47.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-iixw-LPy {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 12.25rem;
  position: relative;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-iixw-LPy .pngwing-1-4Ky {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-iixw-LPy .pngwing-2-Q8w {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-iixw-LPy .item--jwu {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0.55rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-mubr-Edm {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-mubr-Edm .k-nvB {
  margin: 0rem 0rem 1.7rem 0.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-wrd9-16o .auto-group-mubr-Edm .p-iYw {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-iaa3-Fom {
  margin: 0rem 49.9rem 1.334rem 0rem;
  width: calc(100% - 49.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-iaa3-Fom .pngwing-3-zFZ {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-iaa3-Fom .p-utK {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-p6yv-S7Z {
  margin: 0rem 49.4rem 4.384rem 0rem;
  width: calc(100% - 49.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-p6yv-S7Z .pngwing-4-xrb {
  margin: 0.5rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-p6yv-S7Z .p-tkF {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-eqw5-Ep7 {
  margin-bottom: 0.7rem;
  width: 31.6rem;
  height: 11.7rem;
  position: relative;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-eqw5-Ep7 .audio-language-ymh {
  width: 31.2rem;
  height: 4.9rem;
  position: absolute;
  left: 0.4rem;
  top: 0.2rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-rana-naidu-zhV .auto-group-eqw5-Ep7 .pngwing-5-VEF {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.15rem;
  object-fit: cover;
  vertical-align: top;
}
.download-rana-naidu-zhV .auto-group-eqw5-Ep7 .hindi-pGX {
  width: 10.4rem;
  height: 4.9rem;
  position: absolute;
  left: 6.5rem;
  top: 6.05rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-rana-naidu-zhV .auto-group-eqw5-Ep7 .item--j8b {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-rana-naidu-zhV .auto-group-lnlx-39H {
  margin: 0rem 45.6rem 0.334rem 0rem;
  width: calc(100% - 45.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-lnlx-39H .pngwing-6-mb5 {
  margin: 0.25rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .auto-group-lnlx-39H .english-6tF {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-rana-naidu-zhV .abf6db6fc1117b60b2753-1-TD1 {
  margin-left: 36.8rem;
  width: 30rem;
  height: 13.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
