
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69.9rem;
}.download-asur-bYK {
  opacity: 0.75;
  box-sizing: border-box;
  padding: 3.25rem 1.4rem 0rem 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.download-asur-bYK .download-options-gZm {
  margin: 0rem 0rem 1.85rem 0.4rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-rgsb-yom {
  margin: 0rem 47.3rem 1.25rem 0rem;
  width: calc(100% - 47.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-sans-hzf {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 12.25rem;
  position: relative;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-sans-hzf .pngwing-1-SBZ {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-sans-hzf .pngwing-2-MpK {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-sans-hzf .item--fKD {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0.55rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-wvrj-AFy {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-wvrj-AFy .k-7h1 {
  margin: 0rem 0rem 1.7rem 0.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-rgsb-yom .auto-group-wvrj-AFy .p-1XV {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-52es-Lpf {
  margin: 0rem 49.9rem 1.334rem 0rem;
  width: calc(100% - 49.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-52es-Lpf .pngwing-3-fM9 {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-52es-Lpf .p-9XD {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-czpu-eTy {
  margin: 0rem 49.4rem 4.384rem 0rem;
  width: calc(100% - 49.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-czpu-eTy .pngwing-4-k1D {
  margin: 0.5rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-czpu-eTy .p-fts {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-stsb-DfV {
  margin-bottom: 0.7rem;
  width: 31.6rem;
  height: 11.7rem;
  position: relative;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-stsb-DfV .audio-language-xNB {
  width: 31.2rem;
  height: 4.9rem;
  position: absolute;
  left: 0.4rem;
  top: 0.2rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-asur-bYK .auto-group-stsb-DfV .pngwing-5-Tpj {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.15rem;
  object-fit: cover;
  vertical-align: top;
}
.download-asur-bYK .auto-group-stsb-DfV .hindi-QEB {
  width: 10.4rem;
  height: 4.9rem;
  position: absolute;
  left: 6.5rem;
  top: 6.05rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-asur-bYK .auto-group-stsb-DfV .item--hDH {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-asur-bYK .auto-group-kq9d-zy5 {
  margin: 0rem 45.6rem 0.334rem 0rem;
  width: calc(100% - 45.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-kq9d-zy5 .pngwing-6-vrj {
  margin: 0.25rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-asur-bYK .auto-group-kq9d-zy5 .english-GQo {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-asur-bYK .abf6db6fc1117b60b2753-1-Q1D {
  margin-left: 36.8rem;
  width: 30rem;
  height: 13.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
