
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69.9rem;
}.download-ib71-THy {
  opacity: 0.75;
  box-sizing: border-box;
  padding: 3.25rem 1.4rem 0rem 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.download-ib71-THy .auto-group-hzij-ACP {
  margin-bottom: 1.05rem;
  width: 36.2rem;
  height: 12.3rem;
  position: relative;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-hzij-ACP .download-options-HH1 {
  width: 35.8rem;
  height: 4.9rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-ib71-THy .auto-group-hzij-ACP .pngwing-1-A5u {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.85rem;
  object-fit: cover;
  vertical-align: top;
}
.download-ib71-THy .auto-group-hzij-ACP .k-gpw {
  width: 5.2rem;
  height: 4.9rem;
  position: absolute;
  left: 6.6rem;
  top: 6.75rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-ib71-THy .auto-group-hzij-ACP .item--nd5 {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0.6rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-ib71-THy .auto-group-1wwy-5MH {
  margin: 0rem 47.3rem 1.734rem 0rem;
  width: calc(100% - 47.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-1wwy-5MH .pngwing-2-b4j {
  margin: 0.3rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-1wwy-5MH .p-Hy9 {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-ut6x-S5M {
  margin: 0rem 49.9rem 1.334rem 0rem;
  width: calc(100% - 49.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-ut6x-S5M .pngwing-3-krj {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-ut6x-S5M .p-res {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-ezcf-o4K {
  margin: 0rem 49.4rem 4.584rem 0rem;
  width: calc(100% - 49.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-ezcf-o4K .pngwing-4-u7M {
  margin: 0.5rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-ezcf-o4K .p-CcF {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-ib71-THy .audio-language-jcB {
  margin: 0rem 0rem 0.95rem 0.4rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-e8cf-FKd {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-w3ax-cAB {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 11.85rem;
  position: relative;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-w3ax-cAB .pngwing-5-LM5 {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-w3ax-cAB .pngwing-6-t7h {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.5rem;
  object-fit: cover;
  vertical-align: top;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-w3ax-cAB .item--R7d {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 1rem;
  top: 0.15rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-8no1-KTu {
  margin-right: 15.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-8no1-KTu .hindi-5CB {
  margin-bottom: 1.45rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-e8cf-FKd .auto-group-8no1-KTu .english-Cnb {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-ib71-THy .auto-group-e8cf-FKd .abf6db6fc1117b60b2753-1-wVH {
  margin-top: 11.9rem;
  width: 30rem;
  height: 13.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
