
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69.9rem;
}.download-night-manager-Nns {
  opacity: 0.75;
  box-sizing: border-box;
  padding: 3.25rem 1.4rem 0rem 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.download-night-manager-Nns .download-options-Uqu {
  margin: 0rem 0rem 1.85rem 0.4rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-babh-PCB {
  margin: 0rem 47.3rem 1.25rem 0rem;
  width: calc(100% - 47.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-9slb-KLj {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 12.25rem;
  position: relative;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-9slb-KLj .pngwing-1-3Xd {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-9slb-KLj .pngwing-2-aXZ {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-9slb-KLj .item--KEF {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0.55rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-m1hh-1cs {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-m1hh-1cs .k-NTR {
  margin: 0rem 0rem 1.7rem 0.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-babh-PCB .auto-group-m1hh-1cs .p-VH9 {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-u7vq-dPM {
  margin: 0rem 49.9rem 1.334rem 0rem;
  width: calc(100% - 49.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-u7vq-dPM .pngwing-3-Zno {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-u7vq-dPM .p-Uum {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-trwx-R4K {
  margin: 0rem 49.4rem 4.384rem 0rem;
  width: calc(100% - 49.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-trwx-R4K .pngwing-4-9W7 {
  margin: 0.5rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-trwx-R4K .p-TWo {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-nmf5-1HR {
  margin-bottom: 0.7rem;
  width: 31.6rem;
  height: 11.7rem;
  position: relative;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-nmf5-1HR .audio-language-Lab {
  width: 31.2rem;
  height: 4.9rem;
  position: absolute;
  left: 0.4rem;
  top: 0.2rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-night-manager-Nns .auto-group-nmf5-1HR .pngwing-5-Sdd {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.15rem;
  object-fit: cover;
  vertical-align: top;
}
.download-night-manager-Nns .auto-group-nmf5-1HR .hindi-mfu {
  width: 10.4rem;
  height: 4.9rem;
  position: absolute;
  left: 6.5rem;
  top: 6.05rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-night-manager-Nns .auto-group-nmf5-1HR .item--U4X {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-night-manager-Nns .auto-group-o66s-NQo {
  margin: 0rem 45.6rem 0.334rem 0rem;
  width: calc(100% - 45.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-o66s-NQo .pngwing-6-hxs {
  margin: 0.25rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-night-manager-Nns .auto-group-o66s-NQo .english-drX {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-night-manager-Nns .abf6db6fc1117b60b2753-1-amm {
  margin-left: 36.8rem;
  width: 30rem;
  height: 13.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
