
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 69.9rem;
}.download-mirzapur-u2P {
  opacity: 0.75;
  box-sizing: border-box;
  padding: 3.25rem 1.4rem 0rem 1.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
}
.download-mirzapur-u2P .download-options-o7m {
  margin: 0rem 0rem 1.85rem 0.4rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-arxu-W2B {
  margin: 0rem 47.3rem 1.25rem 0rem;
  width: calc(100% - 47.3rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-aj2o-Ruq {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 12.25rem;
  position: relative;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-aj2o-Ruq .pngwing-1-khD {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-aj2o-Ruq .pngwing-2-gas {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-aj2o-Ruq .item--bSw {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0.55rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-bsuh-V2X {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-bsuh-V2X .k-duR {
  margin: 0rem 0rem 1.7rem 0.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-arxu-W2B .auto-group-bsuh-V2X .p-xRu {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-rn15-6o1 {
  margin: 0rem 49.9rem 1.334rem 0rem;
  width: calc(100% - 49.9rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-rn15-6o1 .pngwing-3-dY3 {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-rn15-6o1 .p-AH5 {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-zjk7-6wR {
  margin: 0rem 49.4rem 4.384rem 0rem;
  width: calc(100% - 49.4rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-zjk7-6wR .pngwing-4-q8K {
  margin: 0.5rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-zjk7-6wR .p-jzP {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-a3bu-sqh {
  margin-bottom: 0.7rem;
  width: 31.6rem;
  height: 11.7rem;
  position: relative;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-a3bu-sqh .audio-language-ojM {
  width: 31.2rem;
  height: 4.9rem;
  position: absolute;
  left: 0.4rem;
  top: 0.2rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-mirzapur-u2P .auto-group-a3bu-sqh .pngwing-5-6TZ {
  width: 5rem;
  height: 4.9661rem;
  position: absolute;
  left: 0;
  top: 6.15rem;
  object-fit: cover;
  vertical-align: top;
}
.download-mirzapur-u2P .auto-group-a3bu-sqh .hindi-2s1 {
  width: 10.4rem;
  height: 4.9rem;
  position: absolute;
  left: 6.5rem;
  top: 6.05rem;
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-mirzapur-u2P .auto-group-a3bu-sqh .item--M8b {
  width: 3rem;
  height: 11.7rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  display: flex;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #00caf7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.download-mirzapur-u2P .auto-group-nmno-4Yo {
  margin: 0rem 45.6rem 0.334rem 0rem;
  width: calc(100% - 45.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-nmno-4Yo .pngwing-6-Cf1 {
  margin: 0.25rem 1.5rem 0rem 0rem;
  width: 5rem;
  height: 4.9661rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.download-mirzapur-u2P .auto-group-nmno-4Yo .english-8Yf {
  display: flex;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.download-mirzapur-u2P .abf6db6fc1117b60b2753-1-Gum {
  margin-left: 36.8rem;
  width: 30rem;
  height: 13.3rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
