
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-Gij {
  box-sizing: border-box;
  padding: 11.15rem 29.1rem 36.8rem 25.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8399999738);
}
.login-Gij .login-Bao {
  margin: 0rem 0rem 9.35rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #d8d8d8;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-Gij .auto-group-dec7-3su {
  margin-bottom: 2.5rem;
  box-sizing: border-box;
  padding: 3.05rem 2.1rem 3.25rem 2.1rem;
  width: 100%;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-Gij .auto-group-v12f-gvs {
  margin-bottom: 7.8rem;
  box-sizing: border-box;
  padding: 3.15rem 2.1rem;
  width: 100%;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.login-Gij .auto-group-cmsd-Zzf {
  margin: 0 27.5rem;
  width: calc(100% - 55rem);
  height: 6.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d8d8d8;
  border-radius: 3rem;
  flex-shrink: 0;
}
